.logout {
    width: 75px;
    height: 30px;
    margin-left: 1400px;
    margin-top: -30px;
    justify-content: center;
}

.logout_btn {
    width: 75px;
    height: 30px;
    background-color: #002d3d;
    border: none;
    outline: none;
    color: white;
    text-align: center;
    display: block;
    position: absolute;
    font-family: Comic;
    font-size: 13px;
    font-weight: bold;
    font-style: italic;
    border-radius: 5px;
    transition: 0.4s;

    &:hover {
        transform: scale(1.2);
        border: 1px;
        background-color: white;
        color: #002d3d;
        box-shadow: 1px 1px 1px 1px gray;
        transition: 0.4s;
    }
}

.backpage {
    width: 1200px;
    height: 900px;
    margin-left: 240px;
    margin-top: 115px;
    display: block;
    justify-content: center;
    text-align: center;

    .profilepic {
        box-shadow: 2px 1px 1px 2px #bfbfbf;
        width: 480px;
        height: 320px;
        margin-left: 360px;
        margin-bottom: 50px;

        img {
            width: 480px;
            height: 320px;
        }
    }

    .browse {
        margin-bottom: 50px;
    }

    .info {
        box-shadow: 1px 1px 1px 1px gray;
        border-radius: 3px;
        width: 460px;
        height: 27px;
        margin-left: 360px;
        display: block;
        align-items: baseline;
        text-align: left;
        padding-left: 20px;
        padding-top: 5px;
        margin-bottom: 20px;

        label {
            font-family: Comic;
            font-size: 15px;
            font-weight: bold;
        }

        .textfield {
            width: 250px;
            height: 30px;
            margin-left: 120px;
            margin-top: -25px;
        }

        .edit {
            width: 70px;
            height: 30px;
            margin-left: 390px;
            margin-top: -30px;

            button {
                width: 50px;
                height: 25px;
                font-family: Comic;
                font-size: 15px;
                margin-left: 10px;
                background-color: white;
                border: none;
                outline: none;
                color: #1a1aff;
                cursor: pointer;
            }
        }
    }
}

.t_change {
    width: 150px;
    height: 30px;
    margin-left: 650px;
    margin-top: -40px;

    button {
        width: 150px;
        height: 30px;
        font-family: Comic;
        font-size: 15px;
        font-weight: bold;
        background-color: #002d3d;
        color: white;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 3px;
    }
}

.delete {
    width: 150px;
    height: 30px;
    margin-left: 900px;
    margin-top: -30px;

    button {
        width: 150px;
        height: 30px;
        font-family: Comic;
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;
        background-color: #002d3d;
        color: white;
        border: none;
        outline: none;
        border-radius: 3px;
    }
}