.usericondiv
{
    height: 35px;
    width: 35px;
    border-radius: 20px;
    margin-left: 250px;
    box-shadow: 1px 1px 1px 1px #afafaf;
}

.usericon
{
    padding-top: 7px;
    padding-left: 6px;
    height: 20px;
    width: 20px;
}