.tip_back
{
    width: 1270px;
    height: auto;
    margin-top: 105px;
    margin-left: 220px;
    display: block;

    .tips_label
    {
        width: 100px;
        height: 30px;
        font-size: 18px;
        font-family: Comic;
        font-weight: bold;
        margin-bottom: 30px;
    }

    .tip_box
    {
        box-shadow: 1px 1px 1px 1px gray;
        padding: 5px;
        width: 1200px;
        height: auto;
        font-size: 15px;
        font-family: Comic;
        border-radius: 3px;
        margin-bottom: 20px;
    }
}