.searchInput
{
    margin-top: 30px;
    margin-left: 520px;
    display: flex;
}

.input-search
{
    border-color: #002d3d;
    border-radius: 8px;
    font-family: Comic;
    font-size: 13px;
    padding-left: 40px;
    height: 30px;
    width: 700px;
    outline: none;
}

.searchIcon
{
    width: 30px;
    height: 30px;
    margin-left: -738px;
    
    .search_icon
    {
        width: 30px;
        height: 18px;
        margin-top: 8px;
        cursor: pointer;
    }
}